{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your LIMBS Orthopaedic account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Thanks for using our site!

The LIMBS Orthopaedic Team
ICIPE Road, Kasarani, Nairobi, Kenya
Call/Text: +254 705 347 657 (Office)
Phone: +254 719 628 276 (WhatsApp available: https://wa.me/254719628276)
Alternative Phone: +254 714 663 594 (WhatsApp available: https://wa.me/254714663594)
Email: limbsorthopaedic@gmail.com
{% endautoescape %}
